@import "../../styles/mixins";
@import "../../styles/placeholder";

.album {
  @extend %grid-center;
  @include size(350px);
  box-shadow: 2px 5px 8px rgba(black, .12);
  cursor: pointer;
  font-weight: lighter;
  overflow: hidden;
  position: relative;
  transition: transform .2s;
  z-index: 0;

  &:hover {
    transition: transform .25s;
    box-shadow: 0 0 7px rgba(black, .4);
    transform: scale(1.15);
    z-index: 1;
  }

  .info {
    background-color: black;
    bottom: 0;
    display: grid;
    opacity: .85;
    padding: 1rem;
    position: absolute;
    width: 100%;

    .artist, .title, .genres {
      color: white;
      font-weight: 500;
      text-transform: uppercase;

      * {
        color: white;
        font-weight: normal;
        text-transform: none;
      }
    }

    th {
      width: 80px;
    }

    td {
      border-left: 1px dashed white;
      color: white;
      padding-left: 20px;
    }
  }

  .image {
    height: 100%;
    max-height: 100%;
    justify-self: center;
  }
}
