.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
