@mixin size($width) {
  height: $width;
  width: $width;
}

@mixin max-size($width) {
  max-height: $width;
  max-width: $width;
}

@mixin min-size($width) {
  min-height: $width;
  min-width: $width;
}