.css-selector {
  color: deepskyblue;
  background: linear-gradient(0deg, deepskyblue, mediumspringgreen);
  background-size: 300% 400%;
  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 53% 0
  }
  50% {
    background-position: 48% 100%
  }
  100% {
    background-position: 53% 0
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 53% 0
  }
  50% {
    background-position: 48% 100%
  }
  100% {
    background-position: 53% 0
  }
}

@keyframes AnimationName {
  0% {
    background-position: 53% 0
  }
  50% {
    background-position: 48% 100%
  }
  100% {
    background-position: 53% 0
  }
}

.banner {
  align-self: baseline;
  @extend .css-selector;
  padding: 1.25rem 0;
  text-align: center;
  width: 100%;
  color: white;

  .title {
    font-size: 2.75rem;
    font-weight: normal;

    b {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .description {
    font-size: x-large;
    font-weight: normal;
  }
}